<mat-tab-group mat-align-tabs="center" (selectedIndexChange)="getFreshScore($event)">
    <mat-tab label="Sopas">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Entradas">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Fondos">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Postres">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Bebidas con Alcohol">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Bebidas sin Alcohol">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
    <mat-tab label="Otros">
        <app-main-item-grid></app-main-item-grid>
    </mat-tab>
</mat-tab-group>